@model LessonViewModel
@using Models
@using System.Linq
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
    var allArticles = Model.Articles;
    var articleCount = allArticles?.Count();
    var breadcrumbLevel = new Link();
    List<Article> articlesColumn1 = new List<Article>();
    List<Article> articlesColumn2 = new List<Article>();
    List<Article> articlesColumn3 = new List<Article>();

    if (articleCount > 0)
    {
        if (articleCount == 1)
        {
            articlesColumn1.Add(allArticles.First());
        }
        else if (articleCount == 2)
        {
            articlesColumn1.Add(allArticles.First());
            articlesColumn2.Add(allArticles.Last());
        }
        else
        {
            var quotient = Math.Ceiling((double)articleCount / 3);
            articlesColumn1 = allArticles.Take((int)quotient).ToList();
            articlesColumn2 = allArticles.Skip((int)quotient).Take((int)quotient).ToList();
            articlesColumn3 = allArticles.Skip((int)quotient * 2).ToList();
        }
    }

    switch (Model.Level.ToString())
    {
        case "Advanced":
            breadcrumbLevel.Text = "Advanced Lessons";
            breadcrumbLevel.Url = "/lessons/advanced/";
            break;
        case "Intermediate":
            breadcrumbLevel.Text = "Intermediate Lessons";
            breadcrumbLevel.Url = "/lessons/intermediate/";
            break;
        default:
            breadcrumbLevel.Text = "Beginner Lessons";
            breadcrumbLevel.Url = "/lessons/beginner/";
            break;
    }
}

<div class="container-fluid">
    <div class="row bg-navy">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>@Model.Title</h1>
            <p><em>@Model.Summary</em>
            </p>
        </div>
    </div>
    <div class="row row-size0">
        <div class="col">
            <div class="breadcrumb lesson-details-breadcrumb">
                <a asp-page="/Index">Home</a> / 
                <a href="@breadcrumbLevel.Url">@breadcrumbLevel.Text</a> /
                @Model.Title
            </div>
        </div>
    </div>
    @if (Model.Content?.Text != null)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                @Html.Raw(Model.Content.Text)
            </div>
        </div>
    }

    @if (Model.Videos?.Any() == true)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-bottom-gray text-center">
                <h2>Videos</h2>
                <p>Check out the following YouTube videos to better understand the concepts for this lesson</p>
            </div>
        </div>
        <div class="videos-container">
            @foreach (var video in Model.Videos)
            {
                <div class="row row-size2 border-bottom-gray">
                    <div class="col-lg-6">
                        <h3>@video.Title</h3>
                        <p>@video.Caption</p>
                    </div>
                    <div class="col-lg-6">
                        <iframe width="560" height="315" src="@($"https://www.youtube.com/embed/{video.Slug}")" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            }
        </div>
    }

    @if (articleCount > 0)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-bottom-gray text-center">
                <h2 class="text-center">Articles</h2>
                <p>Expand your knowledge of the concepts from this lesson by reading the following articles</p>
            </div>
        </div>
        <div class="row">
            @Html.Partial("ArticlesColumn", articlesColumn1.ToArray())
            @Html.Partial("ArticlesColumn", articlesColumn2.ToArray())
            @Html.Partial("ArticlesColumn", articlesColumn3.ToArray())
        </div>
    }
</div>