@model BlackMoonStudio.Models.Lesson
@using BlackMoonStudio.Models
@using Microsoft.AspNetCore.Html
@using System
@using System.Collections.Generic
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
    var allArticles = Model.Articles;
    var articleCount = allArticles?.Count();
    List<Article> articlesColumn1 = new List<Article>();
    List<Article> articlesColumn2 = new List<Article>();
    List<Article> articlesColumn3 = new List<Article>();
    if (articleCount == 1)
    {
        articlesColumn1.Add(allArticles.First());
    }
    else if (articleCount == 2)
    {
        articlesColumn1.Add(allArticles.First());
        articlesColumn2.Add(allArticles.Last());
    }
    else
    {
        /*
        //var quotient = Math.Ceiling(articleCount / 3);
        var foo = 2;
        articlesColumn1.Add(allArticles.Take(foo));
        articlesColumn2.Add(allArticles.Skip(foo).Take(foo));
        articlesColumn3.Add(allArticles.Skip (foo * 2).Take(foo));
        */
        var foo = 2;
        for (var i = 0; i < foo; i++)
        {
            articlesColumn1.Add(allArticles[i]);
        }

        for (var n = foo; n < foo * 2; n++)
        {
            articlesColumn2.Add(allArticles[n]);
        }

        for (var x = foo * 2; x < foo * 3; x++)
        {
            articlesColumn3.Add(allArticles[x]);
        }
    }
}

<div class="container-fluid">
    <div class="row bg-navy">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>@Model.Title</h1>
            <p><em>@Model.Summary</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            @Html.Raw(Model.Content.Text)
        </div>
    </div>

    @if (Model.Videos?.Any() == true)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-bottom-gray text-center">
                <h2>Videos</h2>
                <p>Check out the following YouTube videos to better understand the concepts for this lesson</p>
            </div>
        </div>
        <div class="videos-container">
            @foreach (var video in Model.Videos)
            {
                <div class="row row-size2 border-bottom-gray">
                    <div class="col-lg-6">
                        <h3>@video.Title</h3>
                        <p>@video.Caption</p>
                    </div>
                    <div class="col-lg-6">
                        <iframe width="560" height="315" src="@($"https://www.youtube.com/embed/{video.Slug}")" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            }
        </div>
    }

    @if (articleCount > 0)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-bottom-gray text-center">
                <h2 class="text-center">Articles</h2>
                <p>Expand your knowledge of the concepts from this lesson by reading the following articles</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    @foreach (var article in articlesColumn1)
                    {
                        <a href="@article.Url" class="list-group-item list-group-item-action">
                            <h4>@article.Title</h4>
                            <p>@article.Caption</p>
                        </a>
                    }
                </div>
            </div>

            <div class="col-md-4">
                <div class="list-group">
                    @foreach (var article in articlesColumn2)
                    {
                        <a href="@article.Url" class="list-group-item list-group-item-action">
                            <h4>@article.Title</h4>
                            <p>@article.Caption</p>
                        </a>
                    }
                </div>
            </div>

            <div class="col-md-4">
                <div class="list-group">
                    @foreach (var article in articlesColumn3)
                    {
                        <a href="@article.Url" class="list-group-item list-group-item-action">
                            <h4>@article.Title</h4>
                            <p>@article.Caption</p>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>