@model BlackMoonStudio.Models.Lesson
@using Microsoft.AspNetCore.Html;
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
}

<div class="container-fluid">
    <div class="row bg-navy">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>@Model.Title</h1>
            <p><em>@Model.Summary</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            @Html.Raw(Model.Content.Text)
        </div>
    </div>
    @if (Model.Videos?.Any() == true)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-bottom-gray">
                <h2 class="text-center">Videos</h2>
            </div>
        </div>
        <div class="videos-container">
            @foreach (var video in Model.Videos)
            {
                <div class="row row-size2 border-bottom-gray">
                    <div class="col-lg-6">
                        <h3>@video.Title</h3>
                        <p>@video.Caption</p>
                    </div>
                    <div class="col-lg-6">
                        <iframe width="560" height="315" src="@($"https://www.youtube.com/embed/{video.Slug}")" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            }
        </div>
    }
</div>