@model BlackMoonStudio.Models.LessonCategoryIndex
@using BlackMoonStudio.Models
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewData["Title"] = Model.Heading;
    var stage1Lessons = Model.Lessons.Where(x => x.Stage == 1);
    var stage2Lessons = Model.Lessons.Where(x => x.Stage == 2);
    var stage3Lessons = Model.Lessons.Where(x => x.Stage == 3);
}
<div class="container-fluid">
    <div class="row bg-logo">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>@Model.Heading</h1>
            <p>@Model.Summary</p>
        </div>
    </div>
    <div class="row">
        @if (stage1Lessons.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Stage 1",
                Path = Model.Path,
                Lessons = stage1Lessons.ToArray(),
            })
        }

        @if (stage2Lessons.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Stage 2",
                Path = Model.Path,
                Lessons = stage2Lessons.ToArray(),
            })
        }

        @if (stage3Lessons.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Stage 3",
                Path = Model.Path,
                Lessons = stage3Lessons.ToArray(),
            })
        }
    </div>
</div>